.footer {
  background-color: #2e4358;
  padding: 30px;
  text-align: center;
  color: white;
  font-size: 0.9rem;
  margin-top: 20px;
  position: sticky;
  bottom: 0;
}

/* @media only screen and (max-width: 500px) {
    .app__main {
      flex-direction: column;
      padding-bottom: 20px;
      align-items: center;
    }
  }
   */
