* {
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(39, 190, 52);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }
  h2{
    color: rgb(239, 246, 248);
    margin-right: 30px;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;
  }
  
  .square {
    background-color: #d120d1;
    box-shadow: 0 0 2px #000;
    height: 16px;
    width: 16px;
    margin: 2px;
    transition: 2s ease;
  }
  
  .square:hover {
    transition-duration: 0s;
  }