* {
  font-family: 'Kalam', cursive;
}

body {
  padding: 0;
  margin: 0;
  /*background: url(../assets/images/frog-lake.jpg) no-repeat center center fixed;*/
  background: #000;
}

.flex-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: space-around;
}

.main-container {
  height: 99vh;
  width: 99vh;
  position: relative;
  top: 0.25vh;
  margin: 0 auto;
}

.game-container {
  border: 0.25vh solid black;
  box-shadow: 0 0 15px 15px rgba(220, 220, 220, 0.3);
  transition: all 0.3s ease-in-out;
  animation: glow 5s linear infinite;
}

@keyframes glow {
  0% {box-shadow: 0 0 15px 15px rgba(220, 220, 220, 0.3);}
  50% {box-shadow: 0 0 15px 15px rgba(220, 220, 220, 0.7);}
  100% {box-shadow: 0 0 15px 15px rgba(220, 220, 220, 0.3);}
}

.column {
  height: calc(100% / 17);
  width: 100%;
}

.cell {
  /*border-radius: 3px;*/
  min-height: 100%;
  min-width: calc(100% / 17);
}

.beginning, .midway, .finish {
  background: green;
}

.river {
  background: lightblue;
}

.street {
  background: grey;
}

#frogger, .frogger {
  background: blue;
}

.log {
  background: brown;
}

.truck {
  background: red;
}

.truck_1 {
  background: url('../assets/images/truck.png') no-repeat left center;
  background-size: 300% 100%;
}

.truck_2 {
  background: url('../assets/images/truck.png') no-repeat center center;
  background-size: 300% 100%;
}

.truck_3 {
  background: url('../assets/images/truck.png') no-repeat right center;
  background-size: 300% 100%;
}

.user-form {
  height: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.input-text {
  border-radius: 10px;
  color: white;
  background: lightgreen;
  line-height: 2em;
  font-size: 24px;
  min-width: 20vw;
}

.index-container {
  border: 4px solid white;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 5px rgba(220, 220, 220, 0.2);
  transition: all 0.3s ease-in-out;
  height: 60vh;
  width: 60vh;
}

.index-container:hover {
  animation: shadow-glow 3s linear infinite;

}

@keyframes shadow-glow {
  0% {box-shadow: 0 5px 5px 15px rgba(89, 0, 179, 0.5);}
  50% {box-shadow: 0 5px 5px 15px rgba(89, 0, 179, 0.9);}
  100% {box-shadow: 0 5px 5px 15px rgba(89, 0, 179, 0.5);}
}

.game-title {
  margin: 0;
  text-align: center;
  font-size: 64px;
  color: #000;
  max-height: 20vh;
}

.wrapper {
  height: 99vh;
  width: 99vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frog-character {
  background: url(../assets/images/frog.png);
  background-size: 20vh 20vh;
  height: 20vh;
  width: 20vh;
  position: absolute;
  z-index: -10;
}

.submit-button {
  margin: 20px;
  padding: 5px;
  min-width: 200px;
  background: #606;
  border-radius: 20px;
  font-size: 24px;
  color: white;
}

.info-wrapper {
  width: 20vw;
  position: absolute;
  margin-left: 10px;
}

.display-info {
  font-weight: 300;
  color: white;
  font-size: 18px;
}
.overlay {
  /*z-index: -10;*/
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: absolute;
}

.popup {
  width: 90%;
  height: 90%;
  background: rgba(255, 255, 255, 0.95);
  margin: 0 auto;
  display: none;
  color: #000;
  font-size: 24px;
  text-align: center;
}

@media (max-width: 600px) {
  .input-text {
    border-radius: 5px;
    line-height: 1em;
    font-size: 18px;
    min-width: 10vw;
  }
  .submit-button {
    margin: 10px;
    padding: 0px;
    min-width: 100px;
    background: #606;
    border-radius: 10px;
    font-size: 18px;
  }
  .main-container {
    height: 60vh;
    width: 60vw;
  }
}

@media (max-width: 1000px) {
  .main-container {
    margin: 0 20px 0 0;
    float: right;
  }
}
@media (max-height: 500px) {
  .main-container {
    margin: 0 40px 0 0;
    float: right;
  }
}
