
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
    
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.btn{
  width: 20%;
  margin-top:1em ;
}

/* form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

form .btn{
  width: 12em;
}

.form-group{
  width: 15em;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.card{
  width: 30vw;
  text-align: center;
}
.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-google {
  width: 50%;
}


