body{
font-family: Arial, Helvetica, sans-serif;
background-image:linear-gradient(to right , rgb(20, 9, 9) , rgb(78, 78, 133)) ;
}
h1{
    display: flex;
    justify-content: center;
    /* font-size: large; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(163, 199, 230);
    padding-bottom: 40px;
    font-size: 60px;
}

.clock-dial{
   
    width: 500px;
    height: 500px;
    border: 10px solid rgb(159, 167, 230);
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    
}




/* .hour{
    font-size: 30px;
    font-weight: bold;
  
    position: absolute;
} */

/* .hour-1{
    top: 30px;
    right: 130px;
} */

.hour{
    font-size: 30px;
    color: white;
    font-weight:bold ;
    position: absolute;
}

.hour-1{
    top: 40px;
    right: 130px;}
.hour-2{
    top: 125px;
    right: 45px;}
.hour-3{
    top: 235px;
    right: 10px;}
.hour-4{
    top: 345px;
    right: 45px;}
.hour-5{
    top: 430px;
    right: 130px;}
.hour-6{
    bottom: 10px;
    left: 240px;}
.hour-7{
    top: 430px;
    left: 130px;}
.hour-8{
    top: 345px;
   left: 45px;}
.hour-9{
    top: 235px;
   left: 10px;}
.hour-10{
    top: 125px;
   left: 45px;}
.hour-11{
    top: 40px;
   left: 130px;}
.hour-12{
    top: 10px;
    left: 235px;}

.brand{
    font-size: 21px;
    font-weight: bold;
    color: rgb(174, 224, 224);
    position: absolute;
    top: 90px;
    left: 42.5%;
}

.minute-hand-wrap{
    width: 400px;
    height: 400px;
    /* background-color: rgb(235, 237, 244); */
    position: absolute;
    top: 50px;
    left: 50px;
    border-radius: 50%;
}

.minute-hand{
    position: relative;
}
.minute-hand .hand{
    width: 4px;
    height: 200px;
    background-color: rgb(145, 165, 211);
    position: absolute;
    left: 198px;
}

.minute-hand .arrow{
    font-size: 30px;
    font-weight: bold;
    color: rgb(145, 165, 211);
    transform: rotate(180deg);
    position: absolute;
    left: 190px;
    top: -7px;
}

 .point{
    width: 20px;
    height: 20px;
    background-color: rgba(226, 220, 220, 0.989);
    border-radius: 50%;
    position: absolute;
    top: 240px;
    left: 240px;
}
.hour-hand{
    position: relative;
}

.hour-hand-wrap{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 100px;
    left: 100px;
    border: 50%;
}

.hour-hand .hand{
    width: 4px;
    height: 150px;
    background-color: rgb(26, 161, 138);
    position: absolute;
    left: 148px;
}

.hour-hand .arrow{
    font-size: 30px;
    font-weight: bold;
    color: rgb(26, 161, 138);
    transform: rotate(180deg);
    position: absolute;
    left: 140px;
    top: -7px;
}

.Second-hand-wrap{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 75px;
    left: 75px;
    border: 50%;
}

.Second-hand .hand{
    width: 2px;
    height: 175px;
    background-color: rgb(229, 238, 186);
    position: absolute;
    left: 174px;
}