<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Login</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form path="/login" method="POST" class="form-signin">
            <img class="mb-4" src="https://formandfunction.in/FnfAdmin/app-assets/img/portrait/avatars/avatar-08.png" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

            <div class="form-group">
              <label  class="sr-only">Email address</label>
              <input type="email" name="username" class="form-control" placeholder="Email address" autocomplete="off">
            </div> 
            <div class="form-group">
              <label  class="sr-only">Password</label>
              <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            
            <button class="btn btn-lg btn-dark " type="submit">Sign in</button>
           
            <p class="mt-5 mb-3 text-muted">&copy; Login Authentication</p>
          </form>

        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign In with Google
          </a>
        </div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
