@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../assets/img/bg.jpg"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 9px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 9px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board{
    background: linear-gradient(rgb(170, 236, 170), rgb(236, 236, 167));
    width: 92vmin;
    height: 98vmin;
    border: 2px solid rgb(8, 122, 37);
    display: grid;
    grid-template-rows: repeat(30, 1fr);
    grid-template-columns: repeat(30, 1fr);
}

.head{
    background: linear-gradient(rgb(8, 179, 2), rgb(15, 228, 104));
    border: 2px solid rgb(4, 54, 12); 
    transform: scale(1.02);
    border-radius: 8px;
}

.snake{
    background-color: rgb(15, 228, 104);
    border: .25vmin solid rgb(4, 54, 12);
    border-radius: 8px;
}

.food{
    background: linear-gradient(rgb(44, 168, 7), rgb(194, 235, 16));
    border: .25vmin solid black;
    border-radius: 8px;
}

