.product_img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin:15px auto;
    transition: transform 200ms ease-in-out;
}

.product_img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.reduce_margin{
    margin:7px auto;
}
